In [16]:
import great_expectations as ge
import pandas as pd

In [3]:
my_df = ge.read_csv("titanic.csv")

In [5]:
my_df.head()
my_df.Sex.value_counts()
my_df

C:\Users\lakna\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [19]:
my_df.get_expectation_suite()

C:\Users\lakna\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

{
  "meta": {
    "great_expectations_version": "0.14.10"
  },
  "expectations": [],
  "data_asset_type": "Dataset",
  "ge_cloud_id": null,
  "expectation_suite_name": "default"
}

In [22]:
my_df.expect_column_value_lengths_to_be_between(column='Age',min_value=10,max_value=20)

C:\Users\lakna\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

{
  "result": {
    "element_count": 891,
    "missing_count": 177,
    "missing_percent": 19.865319865319865,
    "unexpected_count": 714,
    "unexpected_percent": 100.0,
    "unexpected_percent_total": 80.13468013468014,
    "unexpected_percent_nonmissing": 100.0,
    "partial_unexpected_list": [
      22.0,
      38.0,
      26.0,
      35.0,
      35.0,
      54.0,
      2.0,
      27.0,
      14.0,
      4.0,
      58.0,
      20.0,
      39.0,
      14.0,
      55.0,
      2.0,
      31.0,
      35.0,
      34.0,
      15.0
    ]
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": false
}